<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <!-- Google Fonts - Ubuntu -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <title>To-do List</title>
</head>
<body>
    <form method="post" action="/register"> 
        <input name="email" placeholder="Email address">
        <input name="username" placeholder="Username">
        <input name="password" placeholder="Password">
        <input type="submit" value="Register">
    </form>
</body>
</html>