<!DOCTYPE html>
<html lang="en" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <!-- Google Fonts - Ubuntu -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <title>Login</title>
</head>
<body>
    <form method="post">
        <input name="email" class="form-control btn" placeholder="Email">
        <input name="password" class="form-control btn" placeholder="Password">
        {% if _wrong: %}
            <h4>Wrong email or password</h4>
        {% endif %}
        <input type="submit" value="Login">
    </form>
    <a href="/register" class="btn btn-primary">Register</a>
</body>
</html>